# macOS
.DS_Store

# Xcode
*.xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.swp
*.lock